<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <display-name>SubsriptionSystem</display-name>
  <servlet>
		<description>
		</description>
		<display-name>SubscriptionSystemServlet</display-name>
		<servlet-name>SubscriptionSystemServlet</servlet-name>
		<servlet-class>com.amazon.hackathon.servlet.SubscriptionSystemServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AuthorsList</display-name>
		<servlet-name>AuthorsList</servlet-name>
		<servlet-class>com.amazon.hackathon.servlet.AuthorsList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LatestList</display-name>
		<servlet-name>LatestList</servlet-name>
		<servlet-class>com.amazon.hackathon.servlet.LatestList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RetrievePublisher</display-name>
		<servlet-name>RetrievePublisher</servlet-name>
		<servlet-class>com.amazon.hackathon.servlet.RetrievePublisher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PublishersList</display-name>
		<servlet-name>PublishersList</servlet-name>
		<servlet-class>com.amazon.hackathon.servlet.PublishersList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubscriptionSystemServlet</servlet-name>
		<url-pattern>/SubscriptionSystemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorsList</servlet-name>
		<url-pattern>/AuthorsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LatestList</servlet-name>
		<url-pattern>/LatestList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrievePublisher</servlet-name>
		<url-pattern>/RetrievePublisher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PublishersList</servlet-name>
		<url-pattern>/PublishersList</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>